fastapi
uvicorn[standard]

python-dotenv
pydantic
PyJWT

httpx

numpy
spacy
sentence-transformers
rapidfuzz

redis

cryptography
groq

jinja2

pdfplumber
PyPDF2
python-docx
pypdf

playwright
python-multipart